
 <!-- <form (ngSubmit)="onSubmitForm()" #f="ngForm">
    <fieldset ngMoldeGroup="name">
      <div class="form-group">
        <label>First Name</label>
        <input 
            required 
            ngModel name="firstName" 
            type="text"
            class="form-control"        
        /> -->

        <!-- <div 
            class="error" 
            *ngIf="f.submitted && f.controls.name?.controls.firstName?.invalid"
        >
        <span>First Name is required</span>
        </div> 
      </div>-->
 
     <!--  <div class="form-group">
        <label>Last Name</label>
        <input 
            required
            ngModel 
            name="lastName"  
            type="text"
            class="form-control"/>
      </div>
    </fieldset> -->
  
    <!--  <div class="form-group"></div>-->
      <!-- <label>Email</label>
      <input 
        required
        ngModel 
        name="Email" 
        type="email"
        class="form-control"/>
    </div> -->
  
    <!-- <div class="form-group">
      <label>Password</label>
      <input 
        required
        ngModel 
        name="Password" 
        type="password"
        class="form-control"/>
    </div> -->
  
    <!-- <div class="form-group">
      <label>Language</label>
      <select ngModel name="Language" class="form-control">
        <option value="" disabled selected>Please select a language</option>
        <option *ngFor="let lang of langs"
                [value]="lang">
                {{lang}}
        </option>
      </select>
    </div> -->

   <!--  <button type="submit">Submit</button>
  </form>  -->

<!-- <pre>
  {{f.value | json}}
</pre> -->

<button (click) = "onButtonClick()">Add Movie</button>