
    .products{
        padding: 30px;
        background-color: whitesmoke;
        text-align: right;
        gap: 10px;
    }
    
    .shopping-list{
        background-color: pink;
        border-color: black;
        border-style: solid;
        text-align: left; 
        width: 25%;  
        display: flex;
    }



.addProduct{
    width: 25%;
    display: flex;
}




